<div data-role="panel" id="menu" data-position="left">
    <ul data-role="listview" data-inset="true">
        <li data-icon="home" id="skull"><a href="{{ path('dashboard') }}">Dashboard</a></li>
        <li data-icon="bullets"><a href="{{ path('project_index') }}">Projects</a></li>
        <li data-icon="user"><a href="{{ path('user_index') }}">Users</a></li>
        <li data-icon="user"><a href="/logout">Logout</a></li>
    </ul>
</div>