{% extends "IntelliasTestBundle::layout.html.twig" %}
{% block header %}
    <h1>Project edit</h1>
{% endblock %}
{% block content %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <a href="{{ path('project_index') }}" class="ui-btn ui-corner-all ui-btn-a">Cancel</a>
        </div>
        <div class="ui-block-b">
            <button type="submit" class="ui-btn ui-corner-all ui-btn-a">Save</button>
        </div>
            
    </fieldset>
    {{ form_end(edit_form) }}
{% endblock %}

