{% extends "IntelliasTestBundle::layout.html.twig" %}
{% block header %}
    <h1>Project creation</h1>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
        
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <a href="{{ path('project_index') }}" class="ui-btn ui-corner-all ui-btn-a">Cancel</a>
        </div>
        <div class="ui-block-b">
            <button type="submit" class="ui-btn ui-corner-all ui-btn-a">Create</button>
    </fieldset>

    {{ form_end(form) }}
{% endblock %}
